.article {
  margin: .5rem 0;
  display: grid;
  grid-template-columns: 1fr 0.75fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
  "title title title"
  "author topic date"
  "image image image"
  "body body body"
  "votes empty empty"
}

.article-title {
  grid-area: title;
  margin: 0 auto 1rem;
}

.article-author {
  grid-area: author;
  margin: 0 auto;
  line-height: 1rem;
  font-weight: 600;
}

.article-topic {
  grid-area: topic;
  margin: 0 auto;
  line-height: 1rem;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

.article-topic:hover {
  color: rgb(126, 126, 255);
}

.article-date {
  grid-area: date;
  margin: 0 auto;
  line-height: 1rem;
  font-style: italic;
}

.article-img {
  grid-area: image;
  margin: 1rem auto;
  max-height: 30vh;
  max-width: 90%;
  object-fit: contain;
  border-radius: .25rem;
}

.article-body {
  grid-area: body;
  margin: 0 auto 1rem;
  padding: 0 .5rem;
  text-align: justify;
}

.article-vote-group {
  grid-area: votes;
  padding-left: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.article-votes {
  margin: 0 .25rem;
  font-weight: 600;
}

.article-vote-button {
  padding: 0.2rem 0.2rem;
  margin: 0;
  cursor: pointer;
  border-radius: .25rem;
  border: none;
  background: none;
  font-size: 1rem;
}
.article-vote-button:hover {
  background-color: rgba(0, 0, 0, 0.400);
}
.article-vote-button:focus,
.article-vote-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.upVoted{
  color: lightgreen;
}
.downVoted{
  color: rgb(255, 96, 96);
}