.search-bar {
  margin: 0rem .5rem;
  position: sticky;
  top: 6.5rem;
  background-color: rgb(64,64,64);
  border-radius: 0 0 .5rem .5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  animation: .5s linear 0s 1 searchBarSlide;
}

@keyframes searchBarSlide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.search-bar-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.search-options {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.search-label {
  width: 100%;
  padding-bottom: .25rem;
  font-weight: 600;
}

.search-select {
  width: 100%;
  padding: .125rem .25rem .1875rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, 0.200);
}
.search-select:hover {
  background-color: rgba(0, 0, 0, 0.400);
}

.search-topic {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-sort-by {
  margin: 0 0.5rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-order {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-order-button {
  padding: 0 0 .125rem;
  font-size: 1rem;
  width: 100%;
  border: none;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, 0.200);
}
.search-order-button:hover {
  background-color: rgba(0, 0, 0, 0.400);
}

.pagination-selector {
  padding: .25rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginate-label {
  font-weight: 600;
}

.paginate-switch {
  width: 2rem;
  margin: 0 1rem
}

.paginate-page-numbers {
  margin: 0;
  padding: 0 0 .25rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.paginate-page-number {
  min-width: 1.5rem;
  height: 1.5rem;
  margin: .25rem;
  cursor: pointer;
}

.paginate-page-number:hover {
  color: rgb(96, 181, 255);
}

.paginate-page-number-selected {
  font-weight: 600;
  color: rgb(59, 138, 208);
}