.article-card {
  margin: .5rem;
  padding: .5rem;
  width: 22rem;
  border: solid black 1px;
  border-radius: .25rem;
  text-decoration: none;
  color: inherit;
  display: grid;
  grid-template-columns: 1fr .75fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "title title title"
  "author topic date"
  "image image image"
  "votes empty commentCount";
}

.article-card:hover {
  background-color: rgba(0, 0, 0, 0.200);
}

.article-card-title {
  grid-area: title;
  margin: auto auto .5rem;
  padding-bottom: .5rem;
  width: 100%;
  height: 5.266rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid black 1px;
}

.article-card-author {
  grid-area: author;
  margin: 0;
  line-height: 1rem;
  font-weight: 600;
}


.article-card-topic {
  grid-area: topic;
  margin: 0;
  line-height: 1rem;
  font-weight: 600;
}

.article-card-date {
  grid-area: date;
  margin: 0;
  line-height: 1rem;
  font-weight: 600;
}

.article-card-img {
  grid-area: image;
  max-height: 12rem;
  max-width: 90%;
  object-fit: contain;
  margin: .5rem auto;
  border-radius: .25rem;
}

.article-card-votes {
  grid-area: votes;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
  font-weight: 600;
}

.article-card-comment-count {
  grid-area: commentCount;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
  font-weight: 600;
}