.article-card {
  margin: .5rem;
  padding: .5rem;
  width: 18.5rem;
  border: solid rgb(96, 96, 96) 1px;
  border-radius: .5rem;
  background-color: rgba(161, 156, 255, 0.025);
  text-decoration: none;
  color: inherit;
  display: grid;
  grid-template-columns: 1fr .75fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "title title title"
  "author topic date"
  "image image image"
  "votes empty commentCount";
}

.article-card-title {
  grid-area: title;
  margin: auto auto .5rem;
  padding-bottom: .5rem;
  width: 100%;
  height: 5.266rem;  
  border-bottom: solid rgb(96, 96, 96) 1px;
  font-weight: 700;
  font-size: 1.17rem;
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.article-card-title:hover {
  background-color: rgba(0, 0, 0, 0.200);
  border-radius: .5rem .5rem 0 0;
  color: rgb(96, 181, 255);
}

.article-card-author {
  grid-area: author;
  margin: 0;
  line-height: 1rem;
  font-weight: 600;
}


.article-card-topic {
  grid-area: topic;
  margin: 0;
  line-height: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.article-card-topic:hover {
  color: rgb(96, 181, 255);
}

.article-card-date {
  grid-area: date;
  margin: 0;
  line-height: 1rem;
  font-style: italic;
}

.article-card-img-container {
  grid-area: image;
  height: 12rem;
  max-width: 90%;
  margin: .5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-card-img {
  max-height: 12rem;
  max-width: 100%;
  object-fit: contain;
  border-radius: .25rem;
}

.article-card-votes {
  grid-area: votes;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
  font-weight: 600;
}

.article-card-comment-count {
  grid-area: commentCount;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
  font-weight: 600;
}