.comments{
  margin-bottom: .5rem;
  padding: 0 .5rem;
}

.comments-heading {
  margin: .5rem auto 1rem;
  border-bottom: solid white 1px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.comments-heading:hover {
  background-color: rgba(0, 0, 0, 0.200);
}

.comments-heading-icon {
  margin: auto .25rem;
}

.comments-heading-text{
  margin: 0 auto;
}

.comments-heading-count-group {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: auto .25rem;
}

.comments-heading-count-icon {
  margin: 0;
}

.comments-heading-count-number {
  margin: 0 0 0 .25rem;
}

.comment {
  margin: 0 auto 1rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "top-group delete"
  "body body"
  "votes delete-failed";
}

.comment-top-group {
  margin: 0;
  grid-area: top-group;
  display: flex;
  justify-content: left;
  align-items: center;
}

.comment-author {
  margin: 0 .75rem 0 0; 
  line-height: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
}

.comment-date {
  margin: 0;
  line-height: 1rem;
  font-style: italic;
}

.comment-body {
  grid-area: body;
  margin: .25rem 0 .125rem;
  text-align: left;
}

.comment-vote-group {
  grid-area: votes;
  padding-left: .5rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.comment-votes {
  margin: 0;
  font-weight: 600;
}

.comment-delete-button {
  grid-area: delete;
  margin: 0 0 0 auto;
  color: rgb(255, 96, 96);
  background-color: rgba(0, 0, 0, 0.100);
  border: none;
  border-radius: .25rem;
  cursor: pointer;
}

.comment-delete-button:hover {
  background-color: rgba(0, 0, 0, 0.200);
}

.comment-delete-button:disabled {
  background-color: rgba(64, 64, 64, 0.2);
  cursor: not-allowed;
}

.comment-delete-failed-message {
  grid-area: delete-failed;
  color: rgb(255, 96, 96);
  font-style: italic;
  text-align: right;
}